@tailwind base;
@tailwind components;
@tailwind utilities;

layer components {
  .glass-card {
    @apply bg-white/70 dark:bg-gray-800/50 backdrop-blur-lg border border-white/20 dark:border-gray-700/50 shadow-xl;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.7);
}
